@import 'lacleTheme.scss';

.set-password-paper {
  margin-top: $spacing-xLarge;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-password-logo {
  margin: $spacing-xLarge;
  width: $set-password-logo-width;
  height: auto;
}

.set-password-form {
  width: 100%;
  margin-top: $spacing-tiny;
}

.set-password-button {
  margin: 3 * $spacing-tiny 0 2 * $spacing-tiny;
}
