$primary-color: #d17348;
$secondary-color: #2d6fa1;

$color-error: red;
$color-success: green;

$color-black: black;
$color-green: green;
$color-red: indianred;
$color-blue: rgb(66, 134, 197);
$color-yellow: rgb(240, 203, 41);
$color-white: white;
$color-whitegrey: #e0e0e0;
$color-whitesmoke: whitesmoke;

$color-header-divider: #4f5359;
$color-main-background: #f8f8f8;
$color-icon-selected: #6d6d6d;

$color-table-header-background: #2d6fa1;
$color-table-button: $primary-color;
$color-input-border: #8e8e8e;
$color-json-viewer-background: #1d1f21;
$color-list-border: #e0e0e0;
$color-mapbox-point-selected: #fbb03b;

$color-shade-xslight: rgba(0, 0, 0, 0.075);
$color-shade-slight: rgba(0, 0, 0, 0.08);
$color-shade-light: rgba(0, 0, 0, 0.1);
$color-shade-dark: rgba(0, 0, 0, 0.5);
$color-shade-disabled: rgba(255, 0, 0, 0.15);
