$fontSize-title: 30px;
$fontSize-title2: 24px;
$fontSize-title3: 19px;
$fontSize-xxlarge: 30px;
$fontSize-xlarge: 24px;
$fontSize-larger: 20px;
$fontSize-large: 19px;
$fontSize-regular: 17px;
$fontSize-medium: 16px;
$fontSize-small: 14px;
$fontSize-xsmall: 12px;
$fontSize-xxsmall: 10px;
$fontSize-macro: 8px;

$fontSize-headerIcon: 27px;
$fontSize-no-logo-icon: 100px;
