$spacing-mini: 2px;
$spacing-teeny: 4px;
$spacing-xtiny: 6px;
$spacing-tiny: 8px;
$spacing-xsmall: 12px;
$spacing-small: 16px;
$spacing-normal: 20px;
$spacing-base: 24px;
$spacing-large: 32px;
$spacing-xLarge: 40px;
$spacing-xxLarge: 34px;
$spacing-muiDefault: 12px;

$spacing-navbar-icon: 21px;
$spacing-select-mode-top-offset: 100px;
$spacing-selected-points-number-top-offset: 140px;
$spacing-map-button-margin: 10px;
$spacing-flash-map-floor-selector-top-offset: 40px;
$monitoring-map-floor-selector-top-offset: 45px;
$monitoring-map-sensor-detail-top-offset: 115px;
$monitor-half-size: 40vh;
